body {
    background-color: #7d7d7d; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #8B0000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #a52a2a; 
}

.success-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    font-weight: bold;
}
